<!--
    Open3PPManager v0.1-SNAPSHOT (https://github.com/janevegeorge/Open3PPManager)
    Copyright 2020 Janeve.Me (http://www.janeve.me)

    This file is part of Open3PPManager

    Open3PPManager is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Open3PPManager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Open3PPManager.  If not, see <https://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Projects | Open 3PP Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.min.css}"/>
    <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
    <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div th:fragment="footer">
        <link href="../../static/o3ppm/o3ppm.css" rel="stylesheet" th:href="@{/o3ppm/footer-min.css}"/>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/o3ppm/footer-min.js}"></script>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
            <ion-icon name="chevron-up-outline"></ion-icon>
        </a>
        <!-- Footer -->
        <footer class="fixed-bottom font-small small bg-light">
            <div class="container-fluid">
                <!-- Copyright -->
                <small>
                    <div class="footer-copyright text-right pb-1 pt-0 pr-3">
                        <a href="https://github.com/janevegeorge/Open3PPManager" target="_blank">Open 3PP Manager</a> developed by <a href="https://www.janeve.me/" target="_blank">Janeve.Me</a>
                    </div>
                </small>
                <!-- Copyright -->
            </div>
        </footer>
        <!-- Footer -->
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    </div>
</div>
</body>
</html>