<!--
    Open3PPManager v0.1-SNAPSHOT (https://github.com/janevegeorge/Open3PPManager)
    Copyright 2020 Janeve.Me (http://www.janeve.me)

    This file is part of Open3PPManager

    Open3PPManager is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Open3PPManager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Open3PPManager.  If not, see <https://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Projects | Open 3PP Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.css}"/>
    <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
    <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" th:href="@{/}">Open 3PP Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/projects/}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/3pp_libraries/}">3PP Libraries</a>
                </li>
                <div sec:authorize="hasAuthority('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/admin/wipe-data}">Wipe Data</a>
                </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    </div>
</div>
</body>
</html>