<!--
    Open3PPManager v0.1-SNAPSHOT (https://github.com/janevegeorge/Open3PPManager)
    Copyright 2020 Janeve.Me (http://www.janeve.me)

    This file is part of Open3PPManager

    Open3PPManager is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Open3PPManager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Open3PPManager.  If not, see <https://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>3PP Libraries | Open 3PP Manager</title>
        <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.css}"/>
        <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
        <link href="../../static/o3ppm/o3ppm.css" rel="stylesheet" th:href="@{/o3ppm/o3ppm.css}"/>
    </head>
    <body>
        <div class="container-fluid">
            <div th:replace="/fragments/navbar.html :: nav"></div>
            <button type="button" class="btn btn-primary btn-sm my-2" data-toggle="modal" data-target="#new3ppLibrary">
                Add / Edit 3PP Library
            </button>
            <!-- Modal -->
            <div class="modal fade" id="new3ppLibrary" tabindex="-1" role="dialog" aria-labelledby="new3ppLibraryLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new3ppLibraryLabel">Add / Edit New 3PP Library</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div th:replace="/3pp_libraries/new.html :: new3ppLibraryForm(projectId='', releaseVersion='')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${libraries!=null and !libraries.empty}">
                No 3PP libraries added! Add a 3PP library to see it here.
            </div>
            <div th:if="${libraries!=null and !libraries.empty}">
                <div style="overflow-x:auto;">
                    <table class="table table-bordered small library_details_view">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2">Name</th>
                            <th colspan="4">Software Data</th>
                            <th colspan="7">Trade Compliance</th>
                        </tr>
                        <tr>
                            <th>Vendor</th>
                            <th>Website</th>
                            <th>Software Type</th>
                            <th>Platform</th>

                            <th>Country of Origin</th>
                            <th>EU ECCN</th>
                            <th>US ECCN</th>
                            <th>BIS Authorization</th>
                            <th>EAR Regulation & Restrictions</th>
                            <th>Encryption Protocol</th>
                            <th>Encryption Algorithms</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="library: ${libraries}">
                            <td th:text="${library.name}">Name</td>

                            <td th:text="${library.softwareData?.vendor}" bgcolor="#FEE5BB">vendor</td>
                            <td bgcolor="#FEE5BB"><div class="truncated" th:text="${library?.softwareData?.website}">website</div></td>
                            <td th:text="${library.softwareData?.softwareType?.displayName}" bgcolor="#FEE5BB">softwareType</td>
                            <td th:text="${library.softwareData?.platform}" bgcolor="#FEE5BB">Platform</td>

                            <td th:text="${library.tradeCompliance?.countryCode}" bgcolor="#B9E3A6">countryCode</td>
                            <td th:text="${library.tradeCompliance?.euECCN}" bgcolor="#B9E3A6">euECCN</td>
                            <td th:text="${library.tradeCompliance?.usECCN}" bgcolor="#B9E3A6">usECCN</td>
                            <td th:text="${library.tradeCompliance?.bisAuthorization}" bgcolor="#B9E3A6">bisAuthorization</td>
                            <td th:text="${library.tradeCompliance?.earRegulationRestrictions}" bgcolor="#B9E3A6">earRegulationRestrictions</td>
                            <td th:text="${library.tradeCompliance?.encryptionProtocol}" bgcolor="#B9E3A6">encryptionProtocol</td>
                            <td th:text="${library.tradeCompliance?.encryptionAlgorithms}" bgcolor="#B9E3A6">encryptionAlgorithms</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </body>
</html>