<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>3PP Libraries | Open 3PP Manager</title>
        <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.css}"/>
        <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div class="container pb-5 mb-auto">
            <div th:replace="/fragments/navbar.html :: nav"></div>
            <button type="button" class="btn btn-primary btn-sm my-2" data-toggle="modal" data-target="#new3ppLibrary">
                Add / Edit 3PP Library
            </button>
            <!-- Modal -->
            <div class="modal fade" id="new3ppLibrary" tabindex="-1" role="dialog" aria-labelledby="new3ppLibraryLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="new3ppLibraryLabel">Add New 3PP Library</h5>
                        </div>
                        <div class="modal-body">
                            <div th:replace="/3pp_libraries/new.html :: new3ppLibraryForm(projectId='', releaseVersion='')"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${libraries!=null and !libraries.empty}">
                No 3PP libraries added! Add a 3PP library to see it here.
            </div>
            <div th:if="${libraries!=null and !libraries.empty}">
                <div style="overflow-x:auto;">
                    <table class="table table-bordered small">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2">Name</th>
                            <th colspan="4">Software Data</th>
                            <th colspan="5">Trade Compliance</th>
                        </tr>
                        <tr>
                            <th>Vendor</th>
                            <th>Website</th>
                            <th>Software Type</th>
                            <th>Platform</th>

                            <th>Country of Origin</th>
                            <th>EU ECCN</th>
                            <th>US ECCN</th>
                            <th>BIS Authorization</th>
                            <th>Encryption Protocol</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="library: ${libraries}">
                            <td th:text="${library.name}">Name</td>

                            <td th:text="${library.softwareData?.vendor}" bgcolor="#FEE5BB">vendor</td>
                            <td th:text="${library.softwareData?.website}" bgcolor="#FEE5BB">website</td>
                            <td th:text="${library.softwareData?.softwareType?.displayName}" bgcolor="#FEE5BB">softwareType</td>
                            <td th:text="${library.softwareData?.platform}" bgcolor="#FEE5BB">Platform</td>

                            <td th:text="${library.tradeCompliance?.countryCode}" bgcolor="#B9E3A6">countryCode</td>
                            <td th:text="${library.tradeCompliance?.euECCN}" bgcolor="#B9E3A6">euECCN</td>
                            <td th:text="${library.tradeCompliance?.usECCN}" bgcolor="#B9E3A6">usECCN</td>
                            <td th:text="${library.tradeCompliance?.bisAuthorization}" bgcolor="#B9E3A6">bisAuthorization</td>
                            <td th:text="${library.tradeCompliance?.encryptionProtocol}" bgcolor="#B9E3A6">encryptionProtocol</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </body>
</html>