<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New 3PP Library | Open FOSS Manager</title>
        <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.css}"/>
        <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div th:replace="/fragments/navbar.html :: nav"></div>
            <form action="/new" class="form-horizontal" method="post" th:action="@{/3pp_libraries/new}" id="new3ppLibraryForm" th:fragment="new3ppLibraryForm (projectId, projectName, releaseVersion)">
                <div class="card">
                    <div class="card-body">
                        <div th:if="${projectId!=null and releaseVersion!=null}">
                            <input type="hidden" id="projectId" name="projectId" th:value="${projectId}">
                            <input type="hidden" id="version" name="version" th:value="${releaseVersion}">
                        </div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="3PP Library Name">
                    </div>
                </div>
                <div class="card" style="background-color:#f9c49a;">
                    <h5 class="card-header">Software Data</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col"><input type="text" class="form-control" id="softwareData.vendor" name="softwareData.vendor" placeholder="Vendor Name"></div>
                            <div class="col"><input type="text" class="form-control" id="softwareData.downloadUrl" name="softwareData.downloadUrl" placeholder="Download URL"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="form-control" name="softwareData.softwareType" id="softwareData.softwareType">
                                    <option selected>Choose Software Type...</option>
                                    <option th:each="softwareType : ${T(me.janeve.oss.o3ppm.entities.SoftwareType).values()}"
                                            th:value="${softwareType.name()}" th:text="${softwareType.displayName}"></option>
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="softwareData.softwareVersion" name="softwareData.softwareVersion" placeholder="Version">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="softwareData.platform" name="softwareData.platform" placeholder="OS Platform">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="background-color:#B9E3A6;">
                    <h5 class="card-header">Trade Compliance</h5>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col"><input type="text" class="form-control" id="tradeCompliance.countryCode" name="tradeCompliance.countryCode" placeholder="ISO 3166 Country Code"></div>
                            <div class="col"><input type="text" class="form-control" id="tradeCompliance.euECCN" name="tradeCompliance.euECCN" placeholder="EU ECCN No."></div>
                            <div class="col"><input type="text" class="form-control" id="tradeCompliance.usECCN" name="tradeCompliance.usECCN" placeholder="US ECCN No."></div>
                            <div class="col"><input type="text" class="form-control" id="tradeCompliance.bisAuthority" name="tradeCompliance.bisAuthority" placeholder="BIS Authorization"></div>
                        </div>
                        <div class="row">
                            <div class="col"><input type="text" class="form-control" id="tradeCompliance.encryptionProtocol" name="tradeCompliance.encryptionProtocol" placeholder="Encryption Protocol"></div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
        </div>
    </body>
</html>