<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Project Details | Open FOSS Manager</title>
        <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.css}"/>
        <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div th:replace="/fragments/navbar.html :: nav"></div>
            <div th:unless="${project!=null}">
                No Project found.
            </div>
            <div th:if="${project!=null}">
                <div class="card">
                    <h5 class="card-header">Project Details</h5>
                    <div class="card-body">
                        <h5 class="card-title"><div th:text="${project.name}"></div></h5>
                        <p class="card-text"><div th:text="${project.description}"></div></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>