<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projects | Open 3PP Manager</title>
        <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.css}"/>
        <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div th:replace="/fragments/navbar.html :: nav"></div>
            <a class="btn btn-primary btn-sm my-2" href="#" th:href="@{/projects/new}">
                Add New Project
            </a>
            <div th:unless="${projects!=null and !projects.empty}">
                No projects found! Add a new project to see it here.
            </div>
            <div th:if="${projects!=null and !projects.empty}">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Project Name</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="project: ${projects}">
                            <td><a href="#" th:href="@{/projects/{id}(id=${project.id})}"><div th:text="${project.name}"></div></a></td>
                            <td th:text="${project.owner.fname}+' '+${project.owner.lname}+'('+${project.owner.username}+')'">Owner Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>