<!--
    Open3PPManager v0.1-SNAPSHOT (https://github.com/janevegeorge/Open3PPManager)
    Copyright 2020 Janeve.Me (http://www.janeve.me)

    This file is part of Open3PPManager

    Open3PPManager is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Open3PPManager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Open3PPManager.  If not, see <https://www.gnu.org/licenses/>.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>New Project | Open 3PP Manager</title>
        <link href="../../static/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.5.0/css/bootstrap.min.css}"/>
        <script src="../../static/jquery-3.5.1/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>
        <script src="../../static/bootstrap-4.5.0/js/bootstrap.bundle.min.js" th:src="@{/bootstrap-4.5.0/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div th:replace="/fragments/navbar.html :: nav"></div>
            <form action="/new" class="form-horizontal" method="post" th:action="@{/projects/new}" th:fragment="newProjectForm">
                <input type="hidden" id="id" name="id">
                <script src="../../static/jQuery-Autocomplete-1.4.11/bootstrap.bundle.min.js" th:src="@{/jQuery-Autocomplete-1.4.11/jquery.autocomplete.min.js}"></script>
                <script src="../../static/o3ppm/projects_autocomplete.js" th:src="@{/o3ppm/projects_autocomplete-min.js}"></script>
                <link href="../../static/o3ppm/autocomplete.css" rel="stylesheet" th:href="@{/o3ppm/autocomplete-min.css}"/>
                <div class="form-group">
                    <label for="name">Project Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </form>
        </div>
        <div th:replace="/fragments/footer.html :: footer"></div>
    </body>
</html>