/*!
 * Open3PPManager v0.1-SNAPSHOT (https://github.com/janevegeorge/Open3PPManager)
 * Copyright 2020 Janeve.Me (http://www.janeve.me)
 *
 * This file is part of "Open3PPManager".
 *
 * Open3PPManager is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Open3PPManager is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Open3PPManager. If not, see <http://www.gnu.org/licenses/>.
 */
#team-details li{margin:0 1px 0 1px;}
#team-details li:not(:last-child):after{content:' |';}


@media (min-width: 1291px) {
    .library_details_view {
        display: block;
        max-height: 860px;
        overflow: auto;
    }

    .project_library_view {
        display: block;
        max-height: 820px;
        overflow: auto;
    }
}

@media (min-width: 720px ) and (max-width: 1290px) {
    .library_details_view {
        display: block;
        max-height: 500px;
        overflow: auto;
    }

    .project_library_view {
        display: block;
        max-height: 465px;
        overflow: auto;
    }
}

.table td.long {
  min-width: 20ch;
  max-width: 80ch;
}

.table td {
  max-width: 40ch;
  min-width: 150px;
}